// Use this file as a starting point for your project's .eslintrc.
{
  "extends": ["standard", "standard-react"],
  "plugins": ["jsx-a11y", "filenames"],
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0,
    "brace-style": [2, "stroustrup", {"allowSingleLine": true}],
    "key-spacing": [0, {"align": "value"}],
    "indent": [1, 2, {"SwitchCase": 1}],
    "semi": [2, "always"],
    "no-multi-spaces": 0,
    "spaced-comment": [1, "always", {"exceptions": ["-", "*"]}],
    "jsx-quotes": [2, "prefer-double"],
    "standard/object-curly-even-spacing": 0,
    "no-trailing-spaces": 1,
    "space-before-function-paren": 1,
    "padded-blocks": 0,
    "no-multiple-empty-lines": 1,
    "keyword-spacing": 1,
    "max-lines": 1,
    "max-len": [1, 120],
    "react/jsx-no-bind": [1, { "allowArrowFunctions": true }],
    "react/sort-comp": [
      2, {
        "order": [
          "displayName",
          "propTypes",
          "contextTypes",
          "childContextTypes",
          "mixins",
          "statics",
          "defaultProps",
          "getDefaultProps",
          "getInitialState",
          "getChildContext",
          "componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentWillUnmount",
          "/^on.+$/",
          "/^get.+$/",
          "/^render.+$/",
          "/^.+$/", // All other methods go here
          "render"
        ]
      }
    ],
    "jsx-a11y/aria-role": 2,
    "jsx-a11y/aria-props": 2,
    "jsx-a11y/aria-proptypes": 2,
    "jsx-a11y/href-no-hash": 2,
    "jsx-a11y/img-has-alt": 2,
    "jsx-a11y/mouse-events-have-key-events": 2,
    "jsx-a11y/onclick-has-focus": 2,
    "jsx-a11y/onclick-has-role": 2,
    "jsx-a11y/role-has-required-aria-props": 2,
    "jsx-a11y/role-supports-aria-props": 2,
    "filenames/match-regex": [2, "^[a-z_.]+$"],
    "filenames/no-index": 0
  },
  "env": {
    "es6": true,
    "browser": true
  }
}
